.b-result-list-table {
    min-width: 1000px;
}

.b-result-list-table td {
    vertical-align: middle;
    text-align: center;
    padding: 0.5rem 1rem;
}

.b-result-list-table .list-act-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
}

.b-result-list-table .list-act-btn i {
    display: inline-block;
    line-height: 1;
}
